<mat-toolbar color="primary">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="homeButton" (click)="goHome()">
          FanditMovies
        </div>
      </div>
      <div class="col-4">
        <form #form="ngForm">
          <input [(ngModel)]=search type="text" name="searchForMovie" class="form-control" placeholder="Look for a movie" (keyup.enter)="sendIt()">
        </form>
      </div>
      <div class="col-1">
          <button type="button" class="btn btn-primary" (click)="sendIt()">Search</button>
      </div>
      <div class="col-5">
        <button type="button" class="btn listMoviesButton" (click)="goMoviesList()">Now playing movies</button>
      </div>
    </div>
  </div>
</mat-toolbar>