<div id="detailsMain" class="container">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" src="{{movie.backdrop_path}}" alt="Card image cap" width="100%" height="100%">
        </div>
        <div class="col-7">
            <h1 style="font-weight: bold;">
                {{movie.title}}
            </h1>
            <h4>
                {{movie.release_date | date:'mediumDate'}}
            </h4>
            <h4>
                <ng-container *ngFor="let genre of movie.genres">
                    <li>{{genre.name}}</li>
                </ng-container>

            </h4>
            <h2 style="font-weight: bold;">Overview:</h2>
            <p>{{movie.overview}}</p>
        </div>
    </div>
</div>
<div id="moreDetails">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div style="font-size: large; font-weight: bold;">
                    Status
                </div>
                {{movie.status}}
            </div>
            <div class="col-3">
                <div style="font-size: large; font-weight: bold;">
                    Budget
                </div>
                {{movie.budget | currency}}
            </div>
            <div class="col-3">
                <div style="font-size: large; font-weight: bold;">
                    Revenue
                </div>
                {{movie.revenue | currency}}
            </div>
            <div class="col-3">
                <div style="font-size: large; font-weight: bold;">
                    Original Title
                </div>
                {{movie.original_title}}
            </div>
        </div>
    </div>
</div>
<div id="detailsMain" class="container">
    <h1 class="header" style="font-weight: bold;">Movie cast:</h1>
    <div class="cast">
        <ng-container *ngFor="let actor of cast">
            <app-actor-card [actor]="actor" class="actor"></app-actor-card>
        </ng-container>
    </div>
</div>