#detailsMain{
    padding: 20px 0 20px 0;
}

img{
    padding: 0;
}

.subtitle{
    color: white;
    font-weight: bold;
}

#moreDetails{
    background-color: #DADDED;
    padding: 20px 0 20px 0;
}

.cast{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
}


.actor{
    cursor: pointer;
    margin: 0 30px 20px 30px;
}
